.container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0 5vw 0 5vw;
}

.link{
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.link:hover{
    text-decoration: none;
    color: black; 
}

.brand{
    color:rgb(27, 165, 199);
}

.titulo-da-pagina:hover {
    color:rgb(27, 165, 199);
}