.container-main{
    display: flex;
    flex-wrap: wrap;

    margin-top: 5vh;
}

.item{
    width: 40vw;
}
.item > img{
    max-width: 40vw;
}

.titulo-login{
    display: block;
    width: 100%;
    color:rgb(27, 165, 199);
    margin-bottom: 25px;
}