*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container-sobre {
    text-align: justify;
    margin: 50px;
}

.titulo-sobre{
    color:rgb(27, 165, 199);
    text-align: center;
}